<div class="container">
    <div class="row">
        <form id="game-form">
            <label for="your-number">Your number:</label>
            <input class="typed-number" type="number" min="1" max="25" step="1" name="your-number" id="your-number" placeholder="type number from 1 to 25">
            <button class="btn btn-default">Go!</button>
            <br>
            <label>
                <input type="radio" name="difficulty" value="easy" checked> easy
            </label>
            <label>
                <input type="radio" name="difficulty" value="medium"> medium
            </label>
            <label>
                <input type="radio" name="difficulty" value="hard"> hard
            </label>
        </form>
    </div>
    <div class="row">
        <span id="feedback"></span>
    </div>
</div>